<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('order.orders') }}">orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('receipt.receipts') }}">receipts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('movements') }}">movements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('issuances') }}">issuances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('storage.storages') }}">storages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('point.points') }}">points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">about</a>
            </li>
        </ul>
    </div>
    
    {% block content %}
    {% endblock %}
</body>

</html>