{% extends 'base.html' %}


{% block title %}
web-tracoma/issuance attachment
{% endblock %}


{% block content %}
<div class="container">
    
    <form action="{{ url_for('issuance.save_attachment') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">

            {% include 'including_id.html' %}
            
            <div class="input-group input-group-sm mb-3 visually-hidden">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.issuance_id.label() }}</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="issuance_id" value="{{ form.issuance_id.data }}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.order_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="order" required>
                    <option selected></option>
                    {% for order in orders %}
                    <option {% if order.id==form.order_id.data %} selected {% endif %}
                        value="{{ order.id }}">{{ order }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="row">
                <div class="col-1">
                    <div class="input-group input-group-sm mb-3">
                        {{ form.submit }}
                    </div>
                </div>

                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="{{ url_for('issuance.show_issuance', id=form.issuance_id.data) }}" role="button">Close</a>
                </div>
            </div>
    </form>
</div>
{% endblock %}