{% extends 'base.html' %}


{% block title %}
web-tracoma/movement
{% endblock %}


{% block content %}
<div class="container">
    {% if form.id.data %}
    <h1>{{ form.title.data }}</h1>
    {% else %}
    <h1>New movement</h1>
    {% endif %}
    <form action="{{ url_for('movement.save_movement') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">

            {% include 'including_id.html' %}

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.shipper_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="shipper_id" required>
                    <option selected></option>
                    {% for shipper in shippers %}
                    <option {% if shipper.id==form.shipper_id.data %} selected {% endif %} value="{{ shipper.id }}">{{
                        shipper.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.consignee_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="consignee_id" required>
                    <option selected></option>
                    {% for consignee in consignees %}
                    <option {% if consignee.id==form.consignee_id.data %} selected {% endif %} value="{{ consignee.id }}">{{
                        consignee.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.cost.label() }}</span>
                <input type="number" step="0.01" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="cost" value="{{ form.cost.data }}">
            </div>



            <div class="row">
                
                <div class="col-1">
                    <div class="input-group input-group-sm mb-3">
                        {{ form.submit }}
                    </div>
                </div>

                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="{{ url_for('movement.movements') }}" role="button">Close</a>
                </div>

            </div>

        </div>
    </form>

    {% include 'movement_attachment_list.html' %}
</div>
{% endblock %}