{% extends 'base.html' %}


{% block title %}
web-tracoma/order
{% endblock %}


{% block content %}
<div class="container">
    {% if form.id.data %}
    <h1>{{ form.title.data }}</h1>
    {% else %}
    <h1>New order</h1>
    {% endif %}
    <form action="{{ url_for('order.save_order') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">

            {% include 'including_id.html' %}
            
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.carrier_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="carrier" required>
                    <option selected></option>
                    {% for carrier in carriers %}
                    <option {% if carrier.id==form.carrier_id.data %} selected {% endif %} value="{{ carrier.id }}">{{
                        carrier.title }}</option>
                    {% endfor %}
                </select>

            </div>


            <hr>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.consignee_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="consignee" required>
                    <option selected></option>
                    {% for counteragent in counteragents %}
                    <option {% if counteragent.id==form.consignee_id.data %} selected {% endif %}
                        value="{{ counteragent.id }}">{{ counteragent.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.consignee_address.label() }}</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="consignee_address"
                    value="{{ form.consignee_address.data }}">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.consignee_contact_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="consignee_contact">
                    <option selected></option>
                    {% for counteragent in counteragents %}
                    <option {% if counteragent.id==form.consignee_contact_id.data %} selected {% endif %}
                        value="{{ counteragent.id }}">{{ counteragent.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.consignee_phone.label() }}</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="consignee_phone"
                    value="{{ form.consignee_phone.data }}">
            </div>

            <hr>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.shipper_id.label() }}</span>

                <select class="form-select" aria-label="Default select example" name="shipper" required>
                    <option selected></option>
                    {% for counteragent in counteragents %}
                    <option {% if counteragent.id==form.shipper_id.data %} selected {% endif %}
                        value="{{ counteragent.id }}">{{ counteragent.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.shipper_address.label() }}</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="shipper_address"
                    value="{{ form.shipper_address.data }}">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.shipper_contact_id.label() }}</span>
                <select class="form-select" aria-label="Default select example" name="shipper_contact">
                    <option selected></option>
                    {% for counteragent in counteragents %}
                    <option {% if counteragent.id==form.shipper_contact_id.data %} selected {% endif %}
                        value="{{ counteragent.id }}">{{ counteragent.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.shipper_phone.label() }}</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="shipper_phone" value="{{ form.shipper_phone.data }}">
            </div>

            <hr>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.point_from_id.label() }}</span>

                        <select class="form-select" aria-label="Default select example" name="point_from" required>
                            <option selected></option>
                            {% for point in points %}
                            <option {% if point.id==form.point_from_id.data %} selected {% endif %}
                                value="{{ point.id }}">
                                {{ point.title }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.point_to_id.label() }}</span>

                        <select class="form-select" aria-label="Default select example" name="point_to" required>
                            <option selected></option>
                            {% for point in points %}
                            <option {% if point.id==form.point_to_id.data %} selected {% endif %}
                                value="{{ point.id }}">{{
                                point.title }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div>
            

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.distance.label() }}</span>
                <input type="number" readonly class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="distance" value="{{ form.distance.data }}">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.declared.label() }}</span>
                <input type="number" step="0.01" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="declared" value="{{ form.declared.data }}">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.desc.label() }}</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="desc" value="{{ form.desc.data }}">
            </div>
            <div class="row">
                
                <div class="col-1">
                    <div class="input-group input-group-sm mb-3">
                        {{ form.submit }}
                    </div>
                </div>

                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="{{ url_for('order.orders') }}" role="button">Close</a>
                </div>

            </div>
    </form>

    {% include 'order_attachment_list.html' %}
</div>
{% endblock %}