{% extends 'base.html' %}


{% block title %}
point
{% endblock %}


{% block content %}
<div class="container">
    {% if point %}
    <h1>{{ point.title }}</h1>
    {% else %}
    <h1>New point</h1>
    {% endif %}
    <form action="{{ url_for('save_point') }}" method="post">
        <div class="row">            
                        
            {% if point %}
            <div class="input-group input-group-sm mb-3 visually-hidden">
                <span class="input-group-text" id="inputGroup-sizing-sm">id</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="id" value="{{ point.id }}">
            </div>  

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">title</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="title" value="{{ point.title }}">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">short</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="short" value="{{ point.short }}">
            </div>

            
            {% else %}            
            <div class="input-group input-group-sm mb-3 visually-hidden">
                <span class="input-group-text" id="inputGroup-sizing-sm">id</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="id">                
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">title</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="title">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">short</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="short">
            </div>

            

            {% endif %}
            <div class="input-group input-group-sm mb-3">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>    
            
        </div>
    </form>
</div>
{% endblock %}