{% extends 'base.html' %}


{% block title %}
web-tracoma/point
{% endblock %}


{% block content %}
<div class="container">
    {% if form.id.data %}
    <h1>{{ form.title.data }}</h1>
    {% else %}
    <h1>New point</h1>
    {% endif %}
    <form action="{{ url_for('point.save_point') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">
            
            {% include 'including_id.html' %}
            
            <div class="row">
                <div class="col-10">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.title.label() }}</span>
                        <input type="text" required class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" name="title" value="{{ form.title.data }}">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.short.label() }}</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" name="short" value="{{ form.short.data }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.latitude.label() }}</span>
                        <input type="number" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" name="latitude" value="{{ form.latitude.data }}">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ form.longitude.label() }}</span>
                        <input type="number" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm" name="longitude" value="{{ form.longitude.data }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <div class="input-group input-group-sm mb-3">
                        {{ form.submit }}
                    </div>
                </div>

                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="{{ url_for('point.points') }}" role="button">Close</a>
                </div>
            </div>

    </form>    
</div>
{% endblock %}