{% extends 'base.html' %}


{% block title %}
web-tracoma/points
{% endblock %}


{% block content %}

<div class="container">
    <h1>points</h1>
    
    <div class="row">
        <div class="col-12">
            <a href="{{ url_for('point.points') }}">all points</a>
        </div>       
    </div>

    <div class="row">
        <div class="col-12">
            <a href="{{ url_for('point.new_point') }}">new point</a>
        </div>        
    </div>
    

    <div class="row">

        <div class="col-1">
            <h5>                
                id
            </h5>
        </div>

        <div class="col-5">
            <h5>
                title
            </h5>
        </div>

        <div class="col-1">
            <h5>
                short
            </h5>
        </div>        
    </div>
    
    {% for point in points %}
    <div class="row">

        <div class="col-1">            
            <a href="{{ url_for('point.show_point', id=point.id) }}">{{ point.id }}</a>
            {% if point.is_deleted %}<img src="{{ url_for('static', filename='images/trash.png') }}" width="32" height="32" alt="">{% endif %}
        </div>

        <div class="col-5">
            <a href="{{ url_for('point.show_point', id=point.id) }}">{{ point.title }}</a>
        </div>

        <div class="col-1">
            {{ point.short }}
        </div>
       
        <div class="col-1">
            <a href="{{ url_for('point.delete_point', id=point.id) }}">x</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}