{% extends 'base.html' %}


{% block title %}
web-tracoma/storages
{% endblock %}


{% block content %}

<div class="container">
    <h1>storages</h1>
    
    <div class="row">
        <div class="col-4">
            <a href="{{ url_for('storages') }}">all storages</a>
        </div>

        <div class="col-4">
            <a href="{{ url_for('storages_by_kind', storage_kind=2) }}">companies</a>
        </div>

        <div class="col-4">
            <a href="{{ url_for('storages_by_kind', storage_kind=1) }}">persons</a>
        </div>        
    </div>

    <div class="row">
        <div class="col-6">
            <a href="{{ url_for('new_storage', storage_kind=2) }}">new company</a>
        </div>

        <div class="col-6">
            <a href="{{ url_for('new_storage', storage_kind=1) }}">new person</a>
        </div>
    </div>
    

    <div class="row">

        <div class="col-1">
            <h5>
                id
            </h5>
        </div>

        <div class="col-5">
            <h5>
                title
            </h5>
        </div>

        <div class="col-1">
            <h5>
                kind
            </h5>
        </div>

        <div class="col-2">
            <h5>
                inn
            </h5>
        </div>
        <div class="col-1">            
            <h5>
                internal
            </h5>
        </div>
        <div class="col-1">            
            <h5>
                employee
            </h5>
        </div>
        <div class="col-1">
            <h5>
                
            </h5>
        </div>
    </div>
    
    {% for storage in storages %}
    <div class="row">

        <div class="col-1">
            <a href="{{ url_for('show_storage', storage_id=storage.id) }}">{{ storage.id }}</a>
            {% if storage.is_deleted %}<img src="{{ url_for('static', filename='images/trash.png') }}" width="32" height="32" alt="">{% endif %}
        </div>

        <div class="col-5">
            <a href="{{ url_for('show_storage', storage_id=storage.id) }}">{{ storage.title }}</a>
        </div>

        <div class="col-1">
            {{ storage.kind }}
        </div>

        <div class="col-2">
            {{ storage.inn }}
        </div>
        <div class="col-1">
            {{ storage.is_internal }}
        </div>
        <div class="col-1">
            {{ storage.is_employee }}
        </div>
        <div class="col-1">
            <a href="{{ url_for('delete_storage', storage_id=storage.id) }}">x</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}